@bg-color: #fff;
@preview-border: 5px;

body {
  background-color: @bg-color;
}

#preview-view {
  position: absolute;
  top: @preview-border;
  right: @preview-border;
  bottom: @preview-border;
  left: @preview-border;
  overflow: auto;
}

#editor-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}